a {
    text-decoration: none;
    color:darkslategrey;
}

body {
    
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3rem;
    margin: auto;
}
h1.header1 {
    font-weight: bold;
    font-size: 4rem;
}

input {
    
    font-size: 1rem;
    padding: 1em;
    border-radius: 2em;
    border-width: 0.1em;
    border-color: rgb(255, 115, 0);
    transition: 0.5s;
}

input:focus {
    border-color: darkslategray;
    transition: 0.1s;;
}
input.submit {
    
    border: 0;
    font-weight: bold;
    color: white;
    background: rgb(255, 115, 0);
    transition: 0.5s;
}

input.submit:hover {
    background-color: darkslategray;
    transition: 0.1s;
}
button {
    border-style: none;
    font-size: 2rem;
    padding: 0.6em;
    font-weight: bold;
    background-color: rgb(255, 115, 0);
    border-radius: 4em;
    color: white;
    transition: 0.5s;
}
button:hover {
    border-color: darkslategrey;
    color: white;
    background-color: darkslategrey;
    cursor: pointer;
    transition: 0.1s;
}
.sign-up-button-text {
    color:rgb(255, 115, 0);
}

.sign-up-form {
    padding-block: 1.5em;
}


blockquote {
    font-style: italic;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    justify-content: space-between;
    z-index: 1000000;
    background: white;
    padding-block: 1em;
    padding-inline: 9%;
    display: flex;
    margin: 0;
    box-sizing: border-box;
    transition:  0.1s;

}
header.sticky {
    padding-block: 0.7em;
    transition: 0.1s;
}

header.sticky img {
    
    content: url("../images/aston-fitness-sticky.svg");
}
.login {
    margin-block: auto;
    margin-left: auto;
    padding: 0em;
    float: right;
    
}
img {
    width: 10em;
}
.hero {

    background-image: url("img_parallax.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-image: url(..//images/pexels-victor-freitas-841130.jpg);
    background-repeat: no-repeat;
    background-size: 95em;
    margin: 0;
    padding-top: 10em;
    padding-bottom:14em;
}
.hero-contents {
    padding-inline:15em ;
}
.heading {
    font-size: 7rem;
    margin-block: 0.5em;
    color: white;
}
.heading-smarter, .heading-harder{
    isolation: isolate;
    background-color: rgba(47, 79, 79, 0.699);
    color: rgb(255, 115, 0);
    
}
.hero-subheading {
    font-size: 1.5rem;
    color: rgb(206, 223, 223);
}

section.why-join-up {
    display: block;
    text-align: left;
    
}

h2.why-join-up-heading {
    margin-inline: auto;
    max-inline-size: 10em;
    font-size: 7rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

p {
    font-size: 2rem;
    margin-left: auto;
    margin-right: auto;
}
